.search-container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-title {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}

.search-input-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 10px;
  margin-left: 10px;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.user-data {
  margin-top: 20px;
}

h1 {
  font-size: 24px;
  color: #333;
}
